{
  "presets": ["es2015"],
  "plugins": [
    "add-module-exports",
    ["transform-es2015-modules-umd", {
      "globals": {
        "xhr2": "XMLHttpRequest"
      }
    }],
    ["rename-umd-globals", {
      "glvrd": "Glavred"
    }]
  ]
}